main {
    margin-top: 11rem;
}        

.follower-avatar {
    width: 3rem;
    height: 3rem;
    flex-shrink: 0;
}

.avatar {
    width: 75%;
    height: 75%;
    border-radius: 50%;
    overflow: hidden;
}

.follow {
    width: 7rem;
    padding: 0.35rem 0.75rem;

    /* Blue */
    background: linear-gradient(89deg, #1A2980 1.32%, #122CAC 50.1%, #6AF0FF 98.68%);
    border-radius: 10px;
    border: 1px solid #dbdbdb;
    /* Text */
    color: #FFFFFF;
    font-family: SF Pro;
    font-weight: 650;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.following {
    width: 7rem;
    padding: 0.35rem 0.75rem;

    /* Blue */
    background: linear-gradient(89deg, #1A2980 1.32%, #122CAC 50.1%, #6AF0FF 98.68%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #999999;
    border-radius: 10px;
    /* Button */
    font-family: SF Pro;
    font-weight: 650;
    font-style: normal;
    font-size: 13px;
    letter-spacing: 0.35px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25) inset;
}