<footer class="bg-white fixed-bottom">
    <nav class="">
        <ul class="nav d-flex justify-content-center">
            <li class="nav-item p-2">
                <a class="nav-link active" aria-current="page" href="./index.html">
                    <img src="/icons/home-active.svg" alt="home-active">
                </a>
            </li>
            <li class="nav-item p-2" onclick="tabBarActive()">
                <a class="nav-link" href="./notification.html">
                    <img src="/icons/noti.svg" alt="noti" class="tab-bar">
                </a>
                <div class="noti" style="height: 6px;">
                    <img src="/icons/notification.svg" alt="noti" class="d-flex justify-content-center m-auto">
                </div>
            </li>
            <li class="nav-item p-2" onclick="tabBarActive()">
                <a class="nav-link" href="./new-post.html" >
                    <img src="/icons/new.svg" alt="new" class="tab-bar">
                </a>
            </li>
            <li class="nav-item p-2" onclick="tabBarActive()">
                <a class="nav-link" href="profile.html">
                    <img src="/icons/profile.svg" alt="profile" class="tab-bar">
                </a>
            </li>
            <li class="nav-item p-2" onclick="tabBarActive()">
                <a class="nav-link" href="./login.html">
                    <img src="/icons/logout.svg" alt="logout" class="tab-bar">
                </a>
            </li>
        </ul>
    </nav>
</footer>