<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href = "/node_modules/bootstrap/dist/css/bootstrap.min.css" rel = "stylesheet"/>
    <link href = "/css/{{fileCSS}}" rel = "stylesheet"/>
    
    <link href = "/css/style.css" rel = "stylesheet"/>


    <title>{{title}}</title>
    <!-- Favicon -->
    <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
</head>
<body>
    {{{body}}}
    <!-- Bootstrap JavaScript Libraries -->
    <script href = "/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"> </script>
</body>
</html>