<div class="container d-flex flex-column align-items-center"> 
    <div class = "status-iphone"></div>
    <div class = "Logo">
        <img src="/images/logo.svg" alt="Logo">
    </div>

    <div><h1 id ="text-header">Login</h1></div>
    <div>Join to connect, discover and surf the latest waves </div>

    <div class = "login-container">
        <div class="mb-3">
            <input class = "input1" type="email" id="email" placeholder="Email address or username">
        </div>
        <div class="mb-3 position-relative">
            <input class = "input1" type="password" id="password" placeholder="Your password">
            <img src="/images/Hide pass.png" id="toggle-password"  alt="Toggle Password">
        </div>

        <div class = "forget-text d-flex justify-content-end mb-4"><a href = "/forgot-pass">Forget password</a></div>
        
        <div><button class="waveBtn" id="login-button">Login</button></div>
    </div>

    <div>
        <span>Don't have an account?</span>
        <a id = "Register" href="/register" >Register</a>
    </div>

</div>
