<!-- Header -->
<header class="bg-white fixed-top pt-4">
    <div class="new-post-container d-flex flex-row align-items-center">
        <button class="btn btn-sm">
            <a href="./index.html">
            <img src="/icons/cancel.svg" alt="cancel" class="img-fluid"/>
            </a>
        </button>    
        <h1 class="m-0">New wave</h1>
    </div>
        
</header>
<!-- Main -->
<main>
    <div class="container p-0">
        <form action="/new-post" method="POST" enctype="multipart/form-data">
            <div class="container-new-post d-flex pt-3">
                <!-- Avatar -->
                <div class="container-avatar px-2 d-flex flex-column align-items-center justify-content-between position-relative">
                    <div class="avatar-container d-flex justify-content-center align-items-center">
                        <img src="{{user.ProfilePicture}}" alt="User Avatar" class="img-fluid avatar">
                    </div>
                    <div class="line-between"></div>
                    <div class="avatar-container d-flex justify-content-center align-items-center" style="width: 1.5rem; height: 1.5rem;">
                        <img src="{{user.ProfilePicture}}" alt="User Avatar" class="img-fluid avatar">
                    </div>
                </div>
            
                <!-- Main container -->
                <div class="container-post-main container-fluid me-5 p-0 d-flex flex-column justify-content-between">
                    <!-- User -->
                    <div class="container-user d-flex justify-content-between align-items-start mb-2">
                        <div class="username d-flex">
                            <strong class="me-2">{{user.Username}}</strong>
                            <img src="/icons/verified.svg" alt="Verified" class="d-flex align-self-center" style="width: 1rem; height: 1rem;">
                        </div>
                    </div>
                    <!-- Post -->
                    <textarea name="content" class="form-control no-border placeholder-color" placeholder="What's your new wave?" style="resize: vertical;" oninput="resizeTextarea(this)" rows="1" required></textarea>

                    <div class="container-add-pic d-flex align-items-center pt-2">
                        <label for="postPicture" style="cursor: pointer;">
                            <img src="/icons/picture.svg" alt="Copy Icon" style="width: 20px; height: 20px;">
                        </label>
                        <input type="file" id="postPicture" name="picture" accept="image/*" class="d-none">
                        <img id="picturePreview" alt="Preview" style="max-width: 100%; max-height: 200px; display: none;" />
                    </div>
                    <p class="mb-auto pt-1" style="font-size: 1rem; color: #00000077;">Add new wave</p>
                </div>
            </div>
            <div class="d-flex justify-content-end">
                <button class="waveBtn me-5" id="post" type="submit">Post</button>
            </div>
        </form>
    </div>
</main>
<!-- Footer -->
{{> footer}}

<!-- Bootstrap JavaScript Libraries -->

<!--JS event-->
<script>
    function resizeTextarea(textarea) {
        textarea.style.height = 'auto';
        textarea.style.height = (textarea.scrollHeight) + 'px'; 
    }

    document.getElementById('postPicture').addEventListener('change', (event) => {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = (e) => {
                const preview = document.getElementById('picturePreview');
                preview.src = e.target.result;
                preview.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    });
</script>