<div class="container d-flex flex-column align-items-center"> 
        <div class = "status-iphone"></div>
        <div class = "Logo">
            <img src="/images/logo.svg" alt="Logo">
        </div>

        <div><h1 id = "register-title">Register</h1></div>
        <div>Join to connect, discover and surf the latest waves </div>

        <div class = "login-container">
            <div class="mb-3">
                <input class = "input1" type="email" id="email" placeholder="Email address or username">
            </div>
            <div class="mb-3">
                <input class = "input1" type="text" id="username" placeholder="Username">
            </div>
            <div class="mb-3 position-relative">
                <input class = "input1" type="password" id="password" placeholder="Your password">
                <img src="/images/Hide pass.png" id="toggle-password"  alt="Toggle Password">
            </div>
            <div class="mb-3 position-relative">
                <input class = "input1" type="password" id="confirm-password" placeholder="Confirm password">
                <img src="/images/Hide pass.png" id="toggle-password"  alt="Toggle Password">
            </div>
            <div><button class="waveBtn" id = "register-button">Register</button></div>
        </div>

        <div>
            <span>Already have an account?</span>
            <span id = "Login-text"><a href="/login">Login</a></span>
        </div>

    </div>