<div class="container d-flex flex-column align-items-center"> 
    <div class = "status-iphone"></div>
    <div class = "Logo">
        <img src="/images/logo.svg" alt="Logo">
    </div>

    <div><h1 id ="text-header">Success!</h1></div>
    <div style = "width: 18.5rem" id = "successfull-1" class = "mt-3">Your passowrd has been changed successfully</div>
    <div class = "s1-container">
        <div><button class="waveBtn" id = "back-login-button" onclick ="goToLogin()">Back to log in</button></div>
    </div>
</div>

<script>
    function goToLogin() {
        window.location.href = "login";
    }
</script>