 <div class="container d-flex flex-column align-items-center"> 
    <div class = "status-iphone"></div>
    <div class = "Logo">
        <img src="/images/logo.svg" alt="Logo">
    </div>

    <div><h1 id ="text-header">Thank you</h1></div>
    <div style = "width: 21rem" class = "mt-4 mb-4">
        <p class = "tex m-0">We've sent a confirmation email to your address.</p>
        <p class = "tex m-0">Please check your email and click the confirmation link to reset your password.</p>
    </div>
    
    <div style = "width: 21rem"> 
        <div class="divider-container">
            <hr>
            <span class="divider-text"></span>
        </div>

        <div class = "mt-4 text-center">
            <a id = "resend-text" href="/login" >Back to login</a>
        </div>

    </div>

    
</div>
