<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS v5.2.1 -->
    <link href = "../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link href = "./login.css" rel = "stylesheet"/>

    <title>Login</title>
</head>
<body>
    <div class="container d-flex flex-column align-items-center"> 
        <div class = "status-iphone"></div>
        <div class = "Logo">
            <img src="../../images/logo.png" alt="Logo">
        </div>

        <div><h1 id ="text-header">Login</h1></div>
        <div>Join to connect, discover and surf the latest waves </div>

        <div class = "login-container">
            <div class="mb-3">
                <input type="email" id="email" placeholder="Email address or username">
            </div>
            <div class="mb-3 position-relative">
                <input type="password" id="password" placeholder="Your password">
                <img src="../../images/Hide pass.png" id="toggle-password"  alt="Toggle Password">
            </div>

            <div class = "forget-text d-flex justify-content-end mb-4"><a href = "../Forgot-password-page/forgot-pass.html">Forget passowrd</a></div>
            
            <div><button class = "login-button">Login</button></div>
        </div>

        <div>
            <span>Don't have an account?</span>
            <a id = "Register" href="../Register-page/register.html" >Register</a>
        </div>

    </div>


    
    <!-- Bootstrap JavaScript Libraries -->
    <script href = "../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"> </script>
</body>
</html>