.logo-container {
    margin: 0 auto;
    width: 25%;
    padding-top: 1rem;
}

#wave-nav {
    gap: 0; 
}

.nav-underline#wave-nav .nav-link.active {
    color:black;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(89deg, #1A2980 1.32%, #122CAC 50.1%, #6AF0FF 98.68%);
    border-image-slice: 1; 
}

.nav-underline#wave-nav .nav-link {
    color: #B8B8B8; 
    border-bottom-color: #B8B8B8; 
}